{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main_app/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survival Check</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header id="header">
        <!-- <img src="./img/d20.png" alt="D20" id="pic"> -->
        
        {% if user.is_authenticated %}
            <span>
                <a id="name">Survival Check</a>
            </span>
            <span>
                <a href="{% url 'profile' user.username %}" id="tab">Hello {{user.username}}</a>
            </span>
            <span>
                <a href="{% url 'logout' %} " id="tab">Logout</a>
            </span>
            
        {% else %}
            <span>
                <a id="name">Survival Check</a>
            </span>
            <span>
                <a href="{% url 'login' %}" id="tab">Login</a>
            </span>
            <span>
                <a href="{% url 'signup' %}" id="tab">SignUp</a>
            </span>
        {% endif %}
    </header>
    {% block content %}
    {% endblock %}

</body>
</html>