{% extends 'main_app/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main_app/style.css' %}">
{% block content %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <h1>Room:
        {{room_name}}
        {{ room_name|json_script:"room-name" }}
        {{ character.name|json_script:"character-name" }}
        {{ character.hit_points|json_script:"character-hp" }}
    </h1>
    <h2>
        Playing as {{character.name}}
    </h2>
    <h3>Health Log</h3>
    <textarea id="character-log" cols="50" rows="8" readonly></textarea><br> 
    <br>
    <input id="character-message-input" type="number" size="100" placeholder="Enter new health total">
    <input id="character-message-submit" type="button" value="Send">  
    <br>
    <br>
    <h3>Game Log</h3>
    <textarea id="chat-log" cols="80" rows="15" readonly></textarea><br>
    <input id="roll-d4" type="button" value="d4" >
    <input id="roll-d6" type="button" value="d6" >
    <input id="roll-d8" type="button" value="d8" >
    <input id="roll-d10" type="button" value="d10" >
    <input id="roll-d12" type="button" value="d12" >
    <input id="roll-d20" type="button" value="d20" >
    <input id="roll-d100" type="button" value="d100" >
    <br>
    <input id="spell-attack" type="button" value = "Spell Attack"  >
    {% for weapon in weapons %}
        <input id="roll-{{weapon.damage_dice}}" type="button" value = "{{weapon.name}}" >
        {{ weapon.id|json_script:weapon.damage_dice }}
    {% endfor %} 
    <br>
    <input id="strength" type="button" value = "Strength Saving Throw" >
    <input id="dexterity" type="button" value = "Dexterity Saving Throw" >
    <input id="constitution" type="button" value = "Constitution Saving Throw" >
    <br>
    <input id="wisdom" type="button" value = "Wisdom Saving Throw" >
    <input id="intelligence" type="button" value = "Intelligence Saving Throw" >
    <input id="charisma" type="button" value = "Charisma Saving Throw" >
    <br>
    <input id="chat-message-input" type="text" size="80" placeholder="Chat box"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <script>
        
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const characterName = JSON.parse(document.getElementById('character-name').textContent);
        const characterHealth = JSON.parse(document.getElementById('character-hp').textContent);
         
        const scroll =function(e) {
            document.getElementById("chat-log").scrollTop = document.getElementById("chat-log").scrollHeight
        }

        const chatSocket =new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/room/'
            + roomName
            + '/'
        );

        chatSocket.onopen =function(e) {
            chatSocket.send(JSON.stringify({
                'message': characterName + ' joined the room',
                'weapon': false,
                'save' : false,
                'spell': false,
                'top-location': false
            }));
            chatSocket.send(JSON.stringify({
                'message': characterName + ': ' + characterHealth + '/' + characterHealth,
                'weapon': false,
                'save' : false,
                'spell': false,
                'top-location': true
            }));
        }

        

        chatSocket.onmessage =function(e) {
            const data = JSON.parse(e.data);
            if(data.message[1] == false){
                document.querySelector('#chat-log').value += (data.message[0] + '\n');
            }
            else if(data.message[1] == true){
                document.querySelector('#character-log').value += (data.message[0] + '\n');
            }
        };

        chatSocket.onclose =function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup =function(e) {
            if (e.keyCode === 13) {
                // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#character-message-input').focus();
        document.querySelector('#character-message-input').onkeyup =function(e) {
            if (e.keyCode === 13) {
                // enter, return
                document.querySelector('#character-message-submit').click();
            }
        };

        document.querySelector('#character-message-submit').onclick =function(e) {
            scroll()
            const messageInputDom = document.querySelector('#character-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': characterName + ': ' + String(message) + '/' + characterHealth,
                'weapon': false,
                'save' : false,
                'spell': false,
                'top-location': true

            }));
            messageInputDom.value = '';
        };

        document.querySelector('#chat-message-submit').onclick =function(e) {
            scroll()
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = characterName + ': ' + messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'weapon': false,
                'save' : false,
                'spell': false,
                'top-location': false
            }));
            messageInputDom.value = '';
        };

        let all4 = document.querySelectorAll('#roll-4')
        for(let i = 0; i < all4.length; i++) {
            const weapon = JSON.parse(document.getElementById('4').textContent);
            all4[i].onclick =function(e) {
            scroll()
            const damage = Math.ceil(Math.random()*4)
            const hit = Math.ceil(Math.random()*20)
                chatSocket.send(JSON.stringify({
                    'message': characterName + ': ',
                    'weapon' : weapon,
                    'damage' : damage,
                    'hit' : hit,
                    'save' : false,
                    'spell': false,
                    'top-location': false
                }));
        };
        }

        let all6 = document.querySelectorAll('#roll-6')
        for(let i = 0; i < all6.length; i++) {
            const weapon = JSON.parse(document.getElementById('6').textContent);
            all6[i].onclick =function(e) {
            scroll()
                const damage = Math.ceil(Math.random()*6)
                const hit = Math.ceil(Math.random()*20)
                chatSocket.send(JSON.stringify({
                    'message': characterName + ': ',
                    'weapon' : weapon,
                    'damage' : damage,
                    'hit' : hit,
                    'save' : false,
                    'spell': false,
                    'top-location': false
                }));
            };
        }

        let all8 = document.querySelectorAll('#roll-8')
        for(let i = 0; i < all8.length; i++) {
            const weapon = JSON.parse(document.getElementById('8').textContent);
            all8[i].onclick =function(e) {
            scroll()
            const damage = Math.ceil(Math.random()*8)
            const hit = Math.ceil(Math.random()*20)
                chatSocket.send(JSON.stringify({
                    'message': characterName + ': ',
                    'weapon' : weapon,
                    'damage' : damage,
                    'hit' : hit,
                    'save' : false,
                    'spell': false ,
                    'top-location': false
                }));
        };
        }

        let all10 = document.querySelectorAll('#roll-10')
        for(let i = 0; i < all10.length; i++) {
            const weapon = JSON.parse(document.getElementById('10').textContent);
            all10[i].onclick =function(e) {
            scroll()
            const damage = Math.ceil(Math.random()*10)
            const hit = Math.ceil(Math.random()*20)
                chatSocket.send(JSON.stringify({
                    'message': characterName + ': ',
                    'weapon' : weapon,
                    'damage' : damage,
                    'hit' : hit,
                    'save' : false,
                    'spell': false,
                    'top-location': false
                }));
        };
        }

        let all12 = document.querySelectorAll('#roll-12')
        for(let i = 0; i < all12.length; i++) {
            const weapon = JSON.parse(document.getElementById('12').textContent);
            all12[i].onclick =function(e) {
            scroll()
            const damage = Math.ceil(Math.random()*12)
            const hit = Math.ceil(Math.random()*20)
                chatSocket.send(JSON.stringify({
                    'message': characterName + ': ',
                    'weapon' : weapon,
                    'damage' : damage,
                    'hit' : hit,
                    'spell': false,
                    'save' : false,
                    'top-location': false
                }));
        };
        }

        document.querySelector('#roll-d4').onclick =function(e) {
            scroll()
            const number = Math.ceil(Math.random()*4)
            chatSocket.send(JSON.stringify({
                'message': characterName + ': ' + number,
                'weapon' : false,
                'save' : false,
                'spell': false,
                'top-location': false
            }));
        };

        document.querySelector('#roll-d6').onclick =function(e) {
            scroll()
            const number = Math.ceil(Math.random()*6)
            chatSocket.send(JSON.stringify({
                'message': characterName + ': ' + number,
                'weapon' : false,
                'save' : false,
                'spell': false,
                'top-location': false
            }));
        };

        document.querySelector('#roll-d8').onclick =function(e) {
            scroll()
            const number = Math.ceil(Math.random()*8)
            chatSocket.send(JSON.stringify({
                'message': characterName + ': ' + number,
                'weapon' : false,
                'save' : false,
                'spell': false,
                'top-location': false
            }));
        };

        document.querySelector('#roll-d10').onclick =function(e) {
            scroll()
            const number = Math.ceil(Math.random()*10)
            chatSocket.send(JSON.stringify({
                'message': characterName + ': ' + number,
                'weapon' : false,
                'save' : false,
                'spell': false,
                'top-location': false
            }));
        };

        document.querySelector('#roll-d12').onclick =function(e) {
            scroll()
            const number = Math.ceil(Math.random()*12)
            chatSocket.send(JSON.stringify({
                'message': characterName + ': ' + number,
                'weapon' : false,
                'save' : false,
                'spell': false,
                'top-location': false
            }));
        };

        


        document.querySelector('#roll-d20').onclick =function(e) {
            scroll()
            const number = Math.ceil(Math.random()*20)
            chatSocket.send(JSON.stringify({
                'message': characterName + ': ' + number,
                'weapon' : false,
                'save' : false,
                'spell': false,
                'top-location': false
            }));
        };

        document.querySelector('#roll-d100').onclick =function(e) {
            scroll()
            const number = Math.ceil(Math.random()*100)
            chatSocket.send(JSON.stringify({
                'message': characterName + ': ' + number,
                'weapon' : false,
                'save' : false,
                'spell': false,
                'top-location': false
            }));
        };

        document.querySelector('#strength').onclick =function(e) {
            scroll()
            const number = Math.ceil(Math.random()*20)
            chatSocket.send(JSON.stringify({
                'message': characterName,
                'weapon' : false,
                'roll' : number,
                'save' : 'strength',
                'spell': false,
                'top-location': false
            }));
        };

        document.querySelector('#dexterity').onclick =function(e) {
            scroll()
            const number = Math.ceil(Math.random()*20)
            chatSocket.send(JSON.stringify({
                'message': characterName,
                'weapon' : false,
                'roll' : number,
                'save' : 'dexterity',
                'spell': false,
                'top-location': false
            }));
        };

        document.querySelector('#constitution').onclick =function(e) {
            scroll()
            const number = Math.ceil(Math.random()*20)
            chatSocket.send(JSON.stringify({
                'message': characterName,
                'weapon' : false,
                'roll' : number,
                'save' : 'constitution',
                'spell': false,
                'top-location': false
            }));
        };

        document.querySelector('#wisdom').onclick =function(e) {
            scroll()
            const number = Math.ceil(Math.random()*20)
            chatSocket.send(JSON.stringify({
                'message': characterName,
                'weapon' : false,
                'roll' : number,
                'save' : 'wisdom',
                'spell': false,
                'top-location': false
            }));
        };

        document.querySelector('#intelligence').onclick =function(e) {
            scroll()
            const number = Math.ceil(Math.random()*20)
            chatSocket.send(JSON.stringify({
                'message': characterName,
                'weapon' : false,
                'roll' : number,
                'save' : 'intelligence',
                'spell': false,
                'top-location': false
            }));
        };

        document.querySelector('#charisma').onclick =function(e) {
            scroll()
            const number = Math.ceil(Math.random()*20)
            chatSocket.send(JSON.stringify({
                'message': characterName,
                'weapon' : false,
                'roll' : number,
                'save' : 'charisma',
                'spell': false,
                'top-location': false
            }));
        };

        document.querySelector('#spell-attack').onclick =function(e) {
            scroll()
            const number = Math.ceil(Math.random()*20)
            chatSocket.send(JSON.stringify({
                'message': characterName,
                'weapon' : false,
                'roll' : number,
                'save' : false,
                'spell': true,
                'top-location': false
            }));
        };
    </script>
</body>
</html>
{% endblock %}